<div class="card pull-right">
  <h4 class="card-header">Chat</h4>
  <div class="card-body">
    <p>This room doesn't use the room's state. It just broadcast messages through "broadcast" method.</p>
    <strong>Messages</strong><br>
    <div id="messages"></div>
    <form id="form">
      <div class="input-group">
        <input class="form-control" type="text" id="input" value="" autofocus autocomplete="off" />
        <div class="input-group-append">
          <input class="btn btn-dark" type="submit" value="Send" />
        </div>
      </div>
    </form>
  </div>
</div>
