<div id="editor">
  <div id="map" class="card pull-left">
    <h4 class="card-header">Map</h4>
    <div class="card-body">
      <canvas id="renderCanvas" touch-action="none"></canvas>
    </div>
  </div>
  <div id="chat" class="card pull-right">
    <h4 class="card-header">Chat</h4>
    <div id="chat-body" class="card-body">
      <div id="chat-header">
        <p>This room doesn't use the room's state. It just broadcast messages through "broadcast" method.</p>
        <strong>Messages</strong><br>
      </div>
      <div id="chat-messages"></div>
      <div id="chat-send">
        <div class="input-group">
          <input class="form-control" type="text" id="input" value="" [(ngModel)]="message" autofocus autocomplete="off"
            (keydown.enter)='sendMessage()' />
          <div class="input-group-append">
            <input class="btn btn-dark" type="button" value="Send" (click)='sendMessage()' />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
