<div id="character-editor">
  <canvas id="renderCanvasCharacterEditor" touch-action="none" width="100%" height="100%"></canvas>

  <div *ngFor="let wearCategory of wears | keyvalue" class="ce-container ce-container-{{wearCategory.key}}">
    <h5>{{wearCategory.key}}</h5>

    <div *ngFor="let wearSubcategory of wearCategory.value | keyvalue" class="ce-btn-container">

      <div
        class="{{wearCategory.key == 'head' || wearCategory.key == 'legs' || wearCategory.key == 'skin' ? 'dropleft' : 'dropright'}}">

        <button class="btn btn-dark ce-btn dropdown-toggle" attr.data-toggle="dropdown"
          attr.data-toggle-tooltip="tooltip" data-placement="right">
          <img src="assets/images/character-editor/{{wearSubcategory.key}}.png" alt="{{wearSubcategory.key}}"
            onerror="this.src='assets/images/character-editor/default.png'">
        </button>

        <div class="dropdown-menu">
          <h5>{{wearSubcategory.key}}</h5>

          <div id="ce-{{wearSubcategory.key}}-container">

            <div *ngIf="wearCategory.key != 'skin'" class="form-check form-check-inline">
              <label>
                <input class="form-check-input check-image" type="radio" name="ce-{{wearSubcategory.key}}-radio"
                  value="none" (change)="scenario.wearChange(wearCategory.key, wearSubcategory.key, 'none')" checked>
                <img src="assets/images/character-editor/none.png" alt="None"
                  onerror="this.src='assets/images/character-editor/default.png'" title="None"
                  data-toggle-tooltip="tooltip" data-placement="bottom"
                  attr.data-container="#ce-{{wearSubcategory.key}}-container">
              </label>
            </div>

            <div *ngFor="let wear of wearSubcategory.value" class="form-check form-check-inline">
              <label>
                <input class="form-check-input check-image" type="radio" name="ce-{{wearSubcategory.key}}-radio"
                  value="{{wear}}"
                  (change)="scenario.wearChange(wearCategory.key, wearSubcategory.key, wear, colorPicker)">
                <img src="assets/images/character-editor/{{wearCategory.key}}/{{wearSubcategory.key}}/{{wear}}.png"
                  (error)="onImageError($event, 'assets/images/character-editor/' + wearSubcategory.key + '.png')"
                  data-toggle-tooltip="tooltip" data-placement="bottom" title="{{wear}}"
                  attr.data-container="#ce-{{wearSubcategory.key}}-container">
              </label>
            </div>

            <color-circle #colorPicker [hidden]="wearSubcategory.key == 'ears'"
              color="{{wearSubcategory.key == 'color' ? '#dc9b78':'#f44336'}}"
              [colors]='["#f44336","#e91e63","#9c27b0","#673ab7","#3f51b5","#2196f3","#03a9f4","#00bcd4","#009688","#4caf50","#8bc34a","#cddc39","#ffeb3b","#ffc107","#ff9800","#ff5722","#795548","#607d8b","#c8e1eb","#111111","#ffffff","#a5becd","#7891a5","#55647d","#37415a","#191e3c","#14465a","#0f7373","#0fa569","#41cd73","#73ff73","#dc9b78","#b26247","#8c3c32","#5a1423","#370a14","#ffd2a5","#f5a56e","#e66e46","#c3412d","#8c2323","#410041","#7d0041","#aa143c","#d72d2d","#f06923","#ffaa32","#ffe65a","#bed72d","#64a51e","#237d14","#0f5519","#0f3223","#82ffe1","#41d7d7","#14a0cd","#1469c3","#0f379b","#0f0f69","#3c1e8c","#642db4","#a041d7","#e65ae6","#ff8cc8","#4b143c","#820a64","#b4236e","#e65078","#ff8c8c","#ffcdb4","#e69b96","#be6973","#96465f","#6e2850"]'
              (onChangeComplete)="scenario.wearColorChange($event, wearCategory.key, wearSubcategory.key)"
              circleSize="15" circleSpacing="5" width="190"></color-circle>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>
