<div class="container dungeon-container">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark dungeon-navbar">
    <a class="navbar-brand dungeon-title" routerLink="/">
      <img src="assets/images/logo.png" alt="DungeonGram" width="45" height="45" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content"
      aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-supported-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/characters" class="nav-link" routerLinkActive="active">
            <i class="fa fa-fw fa-user-circle-o"></i> Characters
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/maps" class="nav-link" routerLinkActive="active">
            <i class="fa fa-fw fa-map"></i> Maps
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/campaigns" class="nav-link" routerLinkActive="active">
            <i class="fa fa-fw fa-book"></i> Campaigns
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
            <i class="fa fa-fw fa-users"></i> Users
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a href="https://www.patreon.com/dungeongram" target="_blank" class="nav-link p-0 pt-1 pr-1"
            data-patreon-widget-type="become-patron-button">
            <button class="btn btn-danger btn-sm rounded-pill">
              <i class="fa fa-fw"><svg viewBox="0 0 569 546" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <circle cx="362.589996" cy="204.589996" data-fill="1" id="Oval" r="204.589996" fill="white">
                    </circle>
                    <rect data-fill="2" height="545.799988" id="Rectangle" width="100" x="0" y="0"></rect>
                  </g>
                </svg>
              </i> Become a Patron!
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="" class="nav-link" *ngIf="!auth.loggedIn" (click)="openRegister()">
            <i class="fa fa-fw fa-user-plus"></i> Sign Up
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="" class="nav-link" *ngIf="!auth.loggedIn" (click)="openLogin()">
            <i class="fa fa-fw fa-sign-in"></i> Log In
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/account" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <img class="profile-img" [src]="auth.currentUser.avatar"
              onerror="this.src='assets/images/characters/default-preview.jpg'" />
            {{auth.currentUser.username}}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" *ngIf="auth.loggedIn" (click)='logout()'>
            <i class="fa fa-fw fa-sign-out"></i> Log Out
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
