.dungeon-title {
  font-family: "MetalMania";
  font-size: 250% !important;
  padding: 0px;
  height: 50px;
  margin-top: -8px;
  color: #aa0000 !important;
}

.dungeon-title:hover {
  color: #880000 !important;
}

.dungeon-container {
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

.dungeon-navbar {
  background-color: #ff0000 !important;
}
