.dungeon-title {
  font-family: "MetalMania";
  font-size: 250% !important;
  padding: 0px;
  height: 50px;
  margin-top: -8px;
  // color: #aa0000 !important;
  color: #1a1717 !important;
}

.dungeon-title {
  background: black;
  width: 100px;
  margin-left: -16px;
  margin-bottom: -8px;
  height: 60px;
  padding-left: 46px;
  border-radius: 0px 40px 40px 0px;
}

.dungeon-title img {
  transition: all 0.2s ease-in-out;
}

.dungeon-title img:hover {
  filter: drop-shadow(0px 0px 4px white);
}

.dungeon-title:hover {
  // color: #880000 !important;
  color: #0e0c0c !important;
}

.dungeon-container {
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

.dungeon-navbar {
  // background-color: #ff0000 !important;
  background-color: #944545 !important;
}

.dungeon-navbar #navbar-supported-content a {
  color: #1a1717 !important;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.dungeon-navbar #navbar-supported-content a:hover {
  color: #0e0c0c !important;
  filter: drop-shadow(0px 0px 2px white);
}

.dungeon-navbar #navbar-supported-content a.active {
  filter: drop-shadow(0px 0px 2px white);
}

.profile-img {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  overflow: hidden;
  border: 1px solid black
}
