<div id="tools">

  <div id="main-tools">
    <div *ngFor="let tool of orderedTools">
      <div *ngIf="tools.users.options.isDM?.value || ['grid', 'rule', 'figure'].includes(tool.name)"
        class="tool-btn-container" id="tool-btn-container-{{tool.name}}">
        <div class="{{tool.dropdown ? 'dropright' : ''}}">
          <button
            class="btn btn-dark tool-btn {{tool.active ? 'active' : ''}} {{tool.dropdown ? 'dropdown-toggle' : ''}}"
            (click)="callTool($event, tool.name)" attr.data-toggle="{{tool.dropdown ? 'dropdown' : ''}}"
            tippy="{{tool.label}}" [isEnabled]="!tool.dropdown" placement="right">
            <img src="{{tool.image}}">
          </button>

          <div *ngIf="tool.dropdown" class="dropdown-menu"
            [style.width]="tool.name == 'maps' ? '250px' : (tool.name == 'characters' ? '510px' : '200px')">
            <div [ngSwitch]="tool.name">
              <h5>{{tool.label}}</h5>

              <div *ngSwitchCase="'maps'" id="tool-maps-container" #tool_maps_container>
                <div id="maps-list">

                  <div *ngIf="isLoadingCampaign">
                    <app-loading [condition]="isLoadingCampaign"></app-loading>
                  </div>

                  <p *ngIf="!campaign || campaign.maps_info.length <= 0">
                    <small class="text-muted">You have not created maps yet</small>
                  </p>

                  <div *ngIf="!isLoadingCampaign" class="row row-cols-2 maps">
                    <div *ngFor="let map of campaign.maps_info" class="col mb-2 p">
                      <div class="card h-100">
                        <img src="{{map['imageUrl']}}" class="card-img-top map-img"
                          onerror="this.src='assets/images/game/default_terrain.png'"
                          tippy="<b>{{map['name']}}</b><br />{{map['description']}}" placement="right"
                          [appendTo]="tool_maps_container">
                        <div class="card-body p-0 map-btn">
                          <div class="btn-group" role="group">
                            <button class="btn btn-sm btn-primary" (click)="tool.actions.open(map)"
                              tippy="{{tool.options.openedMap.value != map['_id'] ? 'Play' : 'Stop'}}"
                              [appendTo]="tool_maps_container">
                              <i class="fa fa-{{tool.options.openedMap.value != map['_id'] ? 'play' : 'pause'}}"></i>
                            </button>
                            <button class="btn btn-sm btn-dark campaign-btn-alt" (click)="openMap(map)" tippy="Edit"
                              [appendTo]="tool_maps_container">
                              <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" (confirm)="deleteMap(map)" confirmDoubleCheck="true"
                              [confirmAppendTo]="tool_maps_container" tippy="Delete" [appendTo]="tool_maps_container">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-cols-2 maps-add">
                    <div class="col-12 mb-2">
                      <div class="card" style="height: 20px;">
                        <button type="button" class="card-img-top btn btn-dark mb-2 p-0" (click)="openMap()"
                          style="width: 100%; height: 100%; font-size: 10px;" tippy="Add Map" placement="bottom"
                          [appendTo]="tool_maps_container">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div *ngSwitchCase="'characters'" id="tool-characters-container" #tool_characters_container>
                <div class="row">
                  <div class="col-6">
                    <div id="characters-list">
                      <h6>Own</h6>

                      <div class="row row-cols-2 characters-add">
                        <div class="col-12 mb-2">
                          <div class="card" style="height: 20px;">
                            <button type="button" class="card-img-top btn btn-dark mb-2 p-0" (click)="openCharacter()"
                              style="width: 100%; height: 100%; font-size: 10px;" tippy="Add Character"
                              [appendTo]="tool_characters_container">
                              <i class="fa fa-plus"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="isLoadingOwnCharacters">
                        <app-loading [condition]="isLoadingOwnCharacters"></app-loading>
                      </div>

                      <p *ngIf="ownCharacters.length <= 0" class="text-center">
                        <small class="text-muted">You have not created characters yet</small>
                      </p>

                      <div *ngIf="!isLoadingOwnCharacters" class="row row-cols-2 characters-own">
                        <div *ngFor="let character of ownCharacters" class="col mb-2 p">
                          <div class="card">
                            <img src="{{character['portrait']}}"
                              class="card-img-top character-img {{tool.options.addingModeModel?.value == character['_id'] ? 'selected': ''}}"
                              onerror="this.src='assets/images/characters/default-preview.jpg'"
                              tippy="<b>{{character['name']}}</b><br />{{character['description']}}" placement="right"
                              [appendTo]="tool_characters_container" (click)="tool.actions.addingMode(character)">
                            <div class="card-body p-0 character-btn">
                              <div class="btn-group" role="group">
                                <button class="btn btn-sm btn-dark campaign-btn-alt" (click)="openCharacter(character)"
                                  tippy="Edit" [appendTo]="tool_characters_container">
                                  <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" (confirm)="deleteCharacter(character)"
                                  confirmDoubleCheck="true" [confirmAppendTo]="tool_characters_container" tippy="Delete"
                                  [appendTo]="tool_characters_container">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <ngb-pagination *ngIf="countOwnCharacters > 0" class="d-flex justify-content-center" size="sm"
                        [maxSize]="3" [ellipses]="false" [boundaryLinks]="true" [(page)]="pageOwnCharacters"
                        [pageSize]="pageSizeOwnCharacters" [collectionSize]="countOwnCharacters"
                        (pageChange)="setPageCharacters(true, pageOwnCharacters)">
                      </ngb-pagination>

                    </div>

                    <div id="characters-list-public">
                      <h6>Public</h6>

                      <div *ngIf="isLoadingPublicCharacters">
                        <app-loading [condition]="isLoadingPublicCharacters"></app-loading>
                      </div>

                      <p *ngIf="publicCharacters.length <= 0" class="text-center">
                        <small class="text-muted">There are no public characters created yet</small>
                      </p>

                      <div *ngIf="!isLoadingPublicCharacters" class="row row-cols-2 characters-public">
                        <div *ngFor="let character of publicCharacters" class="col mb-2 p">
                          <div class="card">
                            <img src="{{character['portrait']}}"
                              class="card-img-top character-img {{tool.options.addingModeModel?.value == character['_id'] ? 'selected': ''}}"
                              onerror="this.src='assets/images/characters/default-preview.jpg'"
                              tippy="<b>{{character['name']}}</b><br />{{character['description']}}" placement="right"
                              [appendTo]="tool_characters_container" (click)="tool.actions.addingMode(character)">
                          </div>
                        </div>
                      </div>

                      <ngb-pagination *ngIf="countPublicCharacters > 0" class="d-flex justify-content-center" size="sm"
                        [maxSize]="3" [ellipses]="false" [boundaryLinks]="true" [(page)]="pagePublicCharacters"
                        [pageSize]="pageSizePublicCharacters" [collectionSize]="countPublicCharacters"
                        (pageChange)="setPageCharacters(false, pagePublicCharacters)">
                      </ngb-pagination>

                    </div>
                  </div>

                  <div class="col-6">
                    <div id="characters-list-onmap" style="width: 225px">
                      <h6>On Campaign</h6>

                      <app-loading [condition]="isLoadingCampaign"></app-loading>

                      <p *ngIf="!campaign || campaign.maps_info.length <= 0">
                        <small class="text-muted">You have to create a map first to add some characters</small>
                      </p>
                      <span *ngIf="campaign?.maps_info?.length > 0">
                        <select class="custom-select custom-select-sm"
                          [(ngModel)]="tools.characters.options.selectedMap">
                          <option value="" [ngValue]="null" selected disabled>Select a map...</option>
                          <option *ngFor="let map of campaign.maps_info" [value]="map.name" [ngValue]="map._id">
                            {{map.name | truncate: [24, "..."]}}
                          </option>
                        </select>

                        <p class="text-muted" *ngIf="tools.characters.options.selectedMap != null &&
                          (ObjectValues(tool.options.charactersOnCampaign.value) |
                          filter: { addingMode: false, map: tools.characters.options.selectedMap }).length <= 0">
                          There are no characters on this map
                        </p>
                        <div class="row row-cols-2 characters-onmap">
                          <div
                            *ngFor="let character of ObjectValues(tool.options.charactersOnCampaign.value) | filter: { addingMode: false, map: tools.characters.options.selectedMap }"
                            class="col mb-2 p">
                            <div class="card h-100">
                              <img src="{{character.portrait}}"
                                class="card-img-top character-img {{tool.options.selectedCharacter?.value == character.id ? 'selected': ''}}"
                                onerror="this.src='assets/images/characters/default-preview.jpg'"
                                tippy="<b>{{character.name}}</b><br />{{character.description}}" placement="right"
                                [appendTo]="tool_characters_container" (click)="tool.actions.select(character)">
                              <div class="card-body p-0 character-btn">
                                <div class="btn-group" role="group">
                                  <button class="btn btn-sm btn-dark campaign-btn-alt"
                                    (click)="openCharacter(character.modelId, character.id)" tippy="Edit"
                                    [appendTo]="tool_characters_container">
                                    <i class="fa fa-pencil"></i>
                                  </button>
                                  <button class="btn btn-sm btn-danger" tippy="Delete"
                                    [appendTo]="tool_characters_container" (confirm)="tool.actions.remove(character)"
                                    [confirmAppendTo]="tool_characters_container">
                                    <i class="fa fa-trash"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </span>

                      <!-- <div class="accordion" id="characters-list-maps" style="max-height: 555px; overflow: hidden">
                        <div *ngFor="let map of campaign.maps_info" class="card"
                          [ngStyle]="{'max-height': (590 - campaign.maps_info.length * 38).toString() +'px'}">
                          <div class="card-header p-0" id="headingMap{{map._id}}">
                            <h5 class="mb-0">
                              <button class="btn btn-link btn-block text-left text-truncate text-decoration-none"
                                type="button" data-toggle="collapse" attr.data-target="#collapseMap{{map._id}}"
                                aria-expanded="true" attr.aria-controls="collapseMap{{map._id}}">
                                {{map.name}}
                              </button>
                            </h5>
                          </div>
                          <div id="collapseMap{{map._id}}" class="collapse {{openedMap?._id == map._id ? 'show' : ''}}"
                            attr.aria-labelledby="headingMap{{map._id}}" data-parent="#characters-list-maps">
                            <div class="card-body">
                              <p class="text-muted" style="margin-bottom: 1000px;"
                                *ngIf="(ObjectValues(tool.options.charactersOnCampaign.value) | filter: { addingMode: false, map: map._id }).length <= 0">
                                There are no characters on this map
                              </p>
                              <div *ngIf="tool.options.charactersOnCampaign?.value"
                                class="row row-cols-2 characters-onmap">
                                <div
                                  *ngFor="let character of ObjectValues(tool.options.charactersOnCampaign.value) | filter: { addingMode: false, map: map._id }"
                                  class="col mb-2 p">
                                  <div class="card h-100">
                                    <img src="{{character.portrait}}"
                                      class="card-img-top character-img {{tool.options.selectedCharacter?.value == character.id ? 'selected': ''}}"
                                      onerror="this.src='assets/images/characters/default-preview.jpg'"
                                      tippy="<b>{{character.name}}</b><br />{{character.description}}" placement="right"
                                      [appendTo]="tool_characters_container"
                                      (click)="tool.actions.select(character)">
                                    <div class="card-body p-0 character-btn">
                                      <div class="btn-group" role="group">
                                        <button class="btn btn-sm btn-danger" (click)="tool.actions.remove(character)"
                                          tippy="Remove" [appendTo]="tool_characters_container">
                                          <i class="fa fa-trash"></i>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="'grid'" id="tool-grid-container">
                <span *ngIf="tools.users.options.isDM?.value">
                  <div class="form-group">
                    <label>Width</label>
                    <label style="float: right">{{grid_width.value}}</label>
                    <input type="range" class="form-control-range" #grid_width
                      (change)="tool.actions.gridSize({ width: grid_width.value, height: grid_height.value  })" min="10"
                      max="1000" step="2" value="{{tool.options.gridWidth?.value}}" />
                  </div>
                  <div class="form-group">
                    <label>Height</label>
                    <label style="float: right">{{grid_height.value}}</label>
                    <input type="range" class="form-control-range" #grid_height
                      (change)="tool.actions.gridSize({ width: grid_width.value, height: grid_height.value })" min="10"
                      max="1000" step="2" value="{{tool.options.gridHeight?.value}}" />
                  </div>
                </span>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="tool-grid-show" #grid_show
                    (change)="tool.actions.show(grid_show.checked)" [(ngModel)]="tool.options.tilemapShowGrid.value">
                  <label class="custom-control-label" for="tool-grid-show">Show</label>
                </div>
              </div>

              <div *ngSwitchCase="'walls'" id="tool-walls-container" #tool_walls_container>
                <div class="form-check form-check-inline">
                  <label>
                    <input class="form-check-input check-image" type="radio" name="tool-walls-size"
                      id="tool-walls-size-wall-large" #walls_type_wall_large value="large"
                      (change)="tool.actions.size(walls_type_wall_large.value)" checked>
                    <img src="assets/images/tools/walls/wall_large.png" alt="Large" tippy="Large" placement="bottom"
                      [appendTo]="tool_walls_container">
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label>
                    <input class="form-check-input check-image" type="radio" name="tool-walls-size"
                      id="tool-walls-size-wall-medium" #walls_type_wall_medium value="medium"
                      (change)="tool.actions.size(walls_type_wall_medium.value)">
                    <img src="assets/images/tools/walls/wall_medium.png" alt="Medium" tippy="Medium" placement="bottom"
                      [appendTo]="tool_walls_container">
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label>
                    <input class="form-check-input check-image" type="radio" name="tool-walls-size"
                      id="tool-walls-size-wall-small" #walls_type_wall_small value="small"
                      (change)="tool.actions.size(walls_type_wall_small.value)">
                    <img src="assets/images/tools/walls/wall_small.png" alt="Small" tippy="Small" placement="bottom"
                      [appendTo]="tool_walls_container">
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label>
                    <input class="form-check-input check-image" type="radio" name="tool-walls-size"
                      id="tool-walls-size-wall-collider" #walls_type_wall_collider value="collider"
                      (change)="tool.actions.size(walls_type_wall_collider.value)">
                    <img src="assets/images/tools/walls/wall_collider.png" alt="Only Collider" tippy="Only Collider"
                      placement="bottom" [appendTo]="tool_walls_container">
                  </label>
                </div>

                <hr />

                <div class="form-group">
                  <label>Visibility</label>
                  <label style="float: right">{{walls_visibility.value}}</label>
                  <input type="range" class="form-control-range" #walls_visibility
                    (change)="tool.actions.visibility({ value: walls_visibility.value })" min="0" max="1" step="0.1"
                    value="{{tool.options.wallsVisibility?.value}}" />
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-walls-adjust-to"
                    id="tool-walls-adjust-to-grid" value="grid" #walls_adjust_to_grid
                    (change)="tool.actions.adjustTo(walls_adjust_to_grid.value)" checked>
                  <label class="form-check-label" for="tool-walls-adjust-to-grid">Adjust to Grid</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-walls-adjust-to"
                    id="tool-walls-adjust-to-half-grid" value="half_grid" #walls_adjust_to_half_grid
                    (change)="tool.actions.adjustTo(walls_adjust_to_half_grid.value)">
                  <label class="form-check-label" for="tool-walls-adjust-to-half-grid">Adjust to Half Grid</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-walls-adjust-to"
                    id="tool-walls-adjust-to-quarter-grid" value="quarter_grid" #walls_adjust_to_quarter_grid
                    (change)="tool.actions.adjustTo(walls_adjust_to_quarter_grid.value)">
                  <label class="form-check-label" for="tool-walls-adjust-to-quarter-grid">Adjust to Quarter Grid</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-walls-adjust-to"
                    id="tool-walls-adjust-to-none" value="none" #walls_adjust_to_none
                    (change)="tool.actions.adjustTo(walls_adjust_to_none.value)">
                  <label class="form-check-label" for="tool-walls-adjust-to-none">Not Adjust</label>
                </div>
                <hr />
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="tool-walls-remove" #walls_remove
                    (change)="tool.actions.remove(walls_remove.checked)" checked>
                  <label class="custom-control-label" for="tool-walls-remove">Remove with Ctrl+Click</label>
                </div>
              </div>

              <div *ngSwitchCase="'fogOfWar'" id="tool-fogOfWar-container">
                <div class="form-group">
                  <label>Visibility</label>
                  <label style="float: right">{{fogOfWar_visibility.value}}</label>
                  <input type="range" class="form-control-range" #fogOfWar_visibility
                    (change)="tool.actions.visibility({ value: fogOfWar_visibility.value })" min="0" max="1" step="0.1"
                    value="{{tool.options.fogOfWarVisibility?.value}}" />
                </div>
                <div class="form-group">
                  <label>Visibility of Players</label>
                  <label style="float: right">{{fogOfWar_visibilityPlayers.value}}</label>
                  <input type="range" class="form-control-range" #fogOfWar_visibilityPlayers
                    (change)="tool.actions.visibilityPlayers({ value: fogOfWar_visibilityPlayers.value })" min="0"
                    max="1" step="0.1" value="{{tool.options.fogOfWarVisibilityPlayers?.value}}" />
                  <small class="text-muted">(this will impact in all players)</small>
                </div>
              </div>

              <div *ngSwitchCase="'rule'" id="tool-rule-container">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-rule-adjust-to"
                    id="tool-rule-adjust-to-half-grid" value="half_grid" #rule_adjust_to_half_grid
                    (change)="tool.actions.adjustTo(rule_adjust_to_half_grid.value)" checked>
                  <label class="form-check-label" for="tool-rule-adjust-to-half-grid">Adjust to Half Grid</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-rule-adjust-to"
                    id="tool-rule-adjust-to-corner" value="corner" #rule_adjust_to_corner
                    (change)="tool.actions.adjustTo(rule_adjust_to_corner.value)">
                  <label class="form-check-label" for="tool-rule-adjust-to-corner">Adjust to Corner</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-rule-adjust-to"
                    id="tool-rule-adjust-to-center" value="center" #rule_adjust_to_center
                    (change)="tool.actions.adjustTo(rule_adjust_to_center.value)">
                  <label class="form-check-label" for="tool-rule-adjust-to-center">Adjust to Center</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-rule-adjust-to" id="tool-rule-adjust-to-none"
                    value="none" #rule_adjust_to_none (change)="tool.actions.adjustTo(rule_adjust_to_none.value)">
                  <label class="form-check-label" for="tool-rule-adjust-to-none">Not Adjust</label>
                </div>
                <hr />
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="tool-rule-normalize-unit" #rule_normalize_unit
                    (change)="tool.actions.normalizeUnit(rule_normalize_unit.checked)" checked>
                  <label class="custom-control-label" for="tool-rule-normalize-unit">Normalize Unit</label>
                </div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="tool-rule-share" #rule_share
                    (change)="tool.actions.share(rule_share.checked)">
                  <label class="custom-control-label" for="tool-rule-share">Share with others</label>
                </div>
              </div>

              <div *ngSwitchCase="'figure'" id="tool-figure-container" #tool_figure_container>
                <div class="form-check form-check-inline">
                  <label>
                    <input class="form-check-input check-image" type="radio" name="tool-figure-type"
                      id="tool-figure-type-triangle" #figure_type_triangle value="triangle"
                      (change)="tool.actions.type(figure_type_triangle.value)" checked>
                    <!-- <label class="form-check-label" for="tool-figure-type-triangle">Cone</label> -->
                    <img src="assets/images/tools/figures/triangle.png" alt="Cone" tippy="Cone" placement="bottom"
                      [appendTo]="tool_figure_container">
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label>
                    <input class="form-check-input check-image" type="radio" name="tool-figure-type"
                      id="tool-figure-type-circle" #figure_type_circle value="circle"
                      (change)="tool.actions.type(figure_type_circle.value)">
                    <!-- <label class="form-check-label" for="tool-figure-type-circle">Sphere</label> -->
                    <img src="assets/images/tools/figures/circle.png" alt="Sphere" tippy="Sphere" placement="bottom"
                      [appendTo]="tool_figure_container">
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label>
                    <input class="form-check-input check-image" type="radio" name="tool-figure-type"
                      id="tool-figure-type-square" #figure_type_square value="square"
                      (change)="tool.actions.type(figure_type_square.value)">
                    <!-- <label class="form-check-label" for="tool-figure-type-square">Cube</label> -->
                    <img src="assets/images/tools/figures/square.png" alt="Cube" tippy="Cube" placement="bottom"
                      [appendTo]="tool_figure_container">
                  </label>
                </div>

                <hr />

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-figure-adjust-to"
                    id="tool-figure-adjust-to-half-grid" value="half_grid" #figure_adjust_to_half_grid
                    (change)="tool.actions.adjustTo(figure_adjust_to_half_grid.value)" checked>
                  <label class="form-check-label" for="tool-figure-adjust-to-half-grid">Adjust to Half Grid</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-figure-adjust-to"
                    id="tool-figure-adjust-to-corner" value="corner" #figure_adjust_to_corner
                    (change)="tool.actions.adjustTo(figure_adjust_to_corner.value)">
                  <label class="form-check-label" for="tool-figure-adjust-to-corner">Adjust to Corner</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-figure-adjust-to"
                    id="tool-figure-adjust-to-center" value="center" #figure_adjust_to_center
                    (change)="tool.actions.adjustTo(figure_adjust_to_center.value)">
                  <label class="form-check-label" for="tool-figure-adjust-to-center">Adjust to Center</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tool-figure-adjust-to"
                    id="tool-figure-adjust-to-none" value="none" #figure_adjust_to_none
                    (change)="tool.actions.adjustTo(figure_adjust_to_none.value)">
                  <label class="form-check-label" for="tool-figure-adjust-to-none">Not Adjust</label>
                </div>

                <hr />

                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="tool-figure-normalize-unit"
                    #figure_normalize_unit (change)="tool.actions.normalizeUnit(figure_normalize_unit.checked)" checked>
                  <label class="custom-control-label" for="tool-figure-normalize-unit">Normalize Unit</label>
                </div>

                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="tool-figure-share" #figure_share
                    (change)="tool.actions.share(figure_share.checked)">
                  <label class="custom-control-label" for="tool-figure-share">Share with others</label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="selection-tools"
    class="{{tools.characters.options.selectedCharacter?.value && tools.maps.options.openedMap?.value ? 'show' : ''}}">
    <span>
      <img class="selection-portrait float-right"
        src="{{tools.characters.options.selectedCharacterObj.value?.portrait}}"
        onerror="this.src='assets/images/characters/default-preview.jpg'">
      <div class="selection-title">
        <h5>{{tools.characters.options.selectedCharacterObj.value?.name}}</h5>
        <!-- <h6 class="text-muted">{{tools.characters.options.selectedCharacterObj.value?.group}}</h6> -->
      </div>
      <div class="selection-content">
        <i class="fa fa-fw fa-eye" tippy="Vision Range" placement="left"></i>
        {{tools.characters.options.selectedCharacterObj.value?.visionRange}}
      </div>
    </span>
  </div>

</div>
