<div class="jumbotron jumbotron-fluid">
  <div class="card-deck text-center">
    <div class="card" style="max-width: 500px; margin: 0 auto;" routerLink="/characters">
      <img class="card-img-top" src="assets/images/characters/logo.jpg">
      <div class="card-body">
        <h5 class="card-title">Characters</h5>
      </div>
    </div>

    <div class="card" style="max-width: 500px; margin: 0 auto;" routerLink="/campaigns">
      <img class="card-img-top" src="assets/images/campaigns/logo.jpg">
      <div class="card-body">
        <h5 class="card-title">Campaigns</h5>
      </div>
    </div>
  </div>
</div>
