.character-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.character-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}

.character-card-body {
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: 0.8;
}

.character-container {
  border-radius: 0px !important;
  border-color: #1b1616 !important;
  border-bottom: 0px;
}

.character-container .card-body {
  background-color: #212529 !important;
}

.character-container.own .card {
  border-color: #1b1616 !important;
}

.character-container.own .card-body {
  background-color: #211a1a !important;
  border-color: #1b1616 !important;
}

.character-container.own > .card-body {
  background-color: #2d2424 !important;
  border-color: #1b1616 !important;
}

.character-container.own > .card-header {
  background-color: #211a1a !important;
  border-color: #1b1616 !important;
}

::ng-deep .character-container.own .page-link {
  background-color: #211a1a !important;
  border-color: #1b1616 !important;
}

::ng-deep .character-container.own .page-link:hover {
  background-color: #292020 !important;
}

::ng-deep .character-container.own .page-item.active .page-link {
  background-color: #2d2424 !important;
  border-color: #3d3131 !important;
}

::ng-deep .character-container.own .page-item.active .page-link:hover {
  background-color: #292020 !important;
}

.character-btn {
  background-color: #211a1a !important;
  border-color: #1b1616 !important;
}

.character-btn:hover {
  background-color: #292020 !important;
}

.character-btn-alt {
  background-color: #2d2424 !important;
  border-color: #3d3131 !important;
}

.character-btn-alt:hover {
  background-color: #292020 !important;
}
