<div id="chat">
  <div class="resize resize__top" [hidden]="minimized" (resize)="onResize($event)" [targetElement]="chat_messages"
    [direction]="AngularResizeElementDirection.TOP"></div>
  <div id="chat-header">
    <div class="row">
      <div class="col-1">
        <img *ngIf="minimized && messages?.value && getLastMessage()" class="chat-portrait-image small mr-2"
          src="{{users.value[getLastMessage().user]?.avatar}}"
          onerror="this.src='assets/images/characters/default-preview.jpg'" [tippy]="short_message_user_tooltip" />
        <ng-template #short_message_user_tooltip>
          {{getLastMessage().username}}&nbsp;
          <span class='badge badge-warning' [hidden]='!users?.value || !users.value[getLastMessage().user]?.isDM'>
            DM
          </span>
          <span class="badge badge-light" [hidden]="!users?.value || users.value[getLastMessage().user]?.isPlayer">
            SPEC
          </span>
        </ng-template>
      </div>
      <div class="col-9">
        <div *ngIf="minimized && messages?.value && getLastMessage()"
          class="bubble triangle short text-left {{getLastMessage().user == auth.currentUser._id ? 'own' : (users.value[getLastMessage().user]?.isPlayer ? '': 'spec')}}">
          <div [innerHTML]="getShortContent(getLastMessage())" style="text-overflow: ellipsis; overflow: hidden"
            [tippy]="getShortContent(getLastMessage())" [maxWidth]="300"></div>
        </div>
      </div>
      <div class="col-2">
        <button class="btn filterSpec pull-right"
          tippy="{{filterSpectators ? 'Show Spectators Messages' : 'Hide Spectators Messages'}}"
          (click)="filterSpectators = !filterSpectators; scrollDown()">
          <span class="fa-stack">
            <i class="fa fa-commenting fa-stack-1x"></i>
            <i *ngIf="filterSpectators" class="fa fa-ban fa-stack-2x text-danger"></i>
          </span>
        </button>
        <button class="btn minimize pull-right" tippy="{{minimized ? 'Maximize Chat' : 'Minimize Chat'}}"
          (click)="minimized = !minimized; scrollDown()">
          <i class="fa fa-{{minimized ? 'window-maximize': 'window-minimize'}}"></i>
          <!-- <span class="material-icons">{{minimized ? 'keyboard_arrow_up': 'keyboard_arrow_down'}}</span> -->
        </button>
      </div>
    </div>
  </div>
  <div id="chat-messages" [hidden]="minimized" #chat_messages [style.height.px]="chatHeight">
    <span *ngIf="messages?.value && getFilteredMessages().length > 0">
      <div class="row mb-2" *ngFor="let message of getFilteredMessages()">
        <div class="col-2">
          <img class="chat-portrait-image" src="{{users.value[message.user]?.avatar}}"
            onerror="this.src='assets/images/characters/default-preview.jpg'" />
        </div>
        <div class="col-10">
          <div
            class="bubble triangle {{message.user == auth.currentUser._id ? 'own' : (users.value[message.user]?.isPlayer ? '': 'spec')}}">
            <b>{{message.username}}&nbsp;
              <span class="badge badge-warning" [hidden]="!users?.value || !users.value[message.user]?.isDM">
                DM
              </span>
              <span class="badge badge-light" [hidden]="!users?.value || users.value[message.user]?.isPlayer">
                SPEC
              </span>
            </b>
            <span class="text-muted float-right pr-2" style="font-size: 12px">{{getTime(message.date)}}</span>
            <br>
            <span [innerHTML]="getFirstParagraph(message)"></span>
          </div>
          <div *ngFor="let messageParagraph of getRestParagraphs(message)"
            class="bubble rest  {{message.user == auth.currentUser._id ? 'own' : (users.value[message.user]?.isPlayer ? '': 'spec')}}">
            <span [innerHTML]="messageParagraph"></span>
          </div>
        </div>
      </div>
    </span>
    <span *ngIf="!messages?.value || ObjectValues(messages.value).length <= 0" class="text-center">
      <p><i class="fa fa-comments fa-5x"></i></p>
      <p>There are no messages yet</p>
    </span>
  </div>
  <div id="chat-buttons">
    <input class="dice-btn" type="image" src="assets/images/chat/d4.png" (click)='sendMessage("/roll 1d4")'
      tippy="d4" />
    <input class="dice-btn" type="image" src="assets/images/chat/d6.png" (click)='sendMessage("/roll 1d6")'
      tippy="d6" />
    <input class="dice-btn" type="image" src="assets/images/chat/d8.png" (click)='sendMessage("/roll 1d8")'
      tippy="d8" />
    <input class="dice-btn" type="image" src="assets/images/chat/d10.png" (click)='sendMessage("/roll 1d10")'
      tippy="d10" />
    <input class="dice-btn" type="image" src="assets/images/chat/d12.png" (click)='sendMessage("/roll 1d12")'
      tippy="d12" />
    <input class="dice-btn" type="image" src="assets/images/chat/d20.png" (click)='sendMessage("/roll 1d20")'
      tippy="d20" />
  </div>
  <div id="chat-send">
    <div class="input-group">
      <input class="form-control" maxlength="{{messageSize}}" style="padding-right: 52px;" type="text" id="input"
        value="" [(ngModel)]="message" autofocus autocomplete="off" (keydown.enter)='sendMessage()'
        placeholder="Enter text or /roll command" />
      <button type="button" class="btn bg-transparent" style="width: 52px; margin-left: -52px; z-index: 100; opacity: 0.2;" disabled>
        {{message ? (messageSize - message.length >= 0 ? messageSize - message.length : 0) : messageSize}}
      </button>
      <div class="input-group-append">
        <button class="btn btn-dark" type="button" (click)='sendMessage()'><i class="fa fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</div>
